<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHibernateCRUDExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="sandeepApp.war">
      <element id="artifact" artifact-name="SpringMVCHibernateCRUDExample:war exploded" />
    </root>
  </artifact>
</component>